.banner{
    height: 50px;
    background-color: black;
}
.banner-logo{
    height: 20px;
}
.sony-logo{
    height: 100%;
}
.nav-button{
    border-radius: 30px;
    background-color: black;
    color: white;
}
.nav-button:hover{
    background-color: black;
    color: white;
}
.lens-img{
    height: 30px;
    margin-left: 20px;
}
.jumbo-container{
    height: 600px;
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.jumbo-button{
    background-color: orangered;
    border-color: orangered;
    border-radius: 30px;
}
