.banner{
    height: 50px;
    background-color: black;
}
.banner-logo{
    height: 20px;
}
.sony-logo{
    height: 100%;
}
.nav-button{
    border-radius: 30px;
    background-color: black;
    color: white;
}
.nav-button:hover{
    background-color: black;
    color: white;
}
.lens-img{
    height: 30px;
    margin-left: 20px;
}
.align-content-end{
    height: 500px;
}
.jumbo-container{
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: 100% 100%;
    
}
.jumbo-button{
    background-color: orangered;
    border-color: orangered;
    border-radius: 30px;
}
.filler-box{
    width: 150px;
    border-radius: 10px;
    border: 1px solid transparent;
}
.filler-box:hover{
    border:1px solid blue;
}
.filler-subbox{
    height: 100%;
    overflow: hidden;
}
.play-img{
    width: 100%;
    border-radius: 10px;
}