.banner{
    height: 50px;
    background-color: black;
}
.banner-logo{
    height: 20px;
}
.sony-logo{
    height: 100%;
}
.nav-button{
    border-radius: 30px;
    background-color: black;
    color: white;
}
.nav-button:hover{
    background-color: black;
    color: white;
}
.lens-img{
    height: 30px;
    margin-left: 20px;
}
.jumbo-contain{
    padding-top: 200px;
}
.jumbo-container{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;  
}
.returnal-logo{
    height: 50px;
}
.jumbo-button{
    background-color: orangered;
    border-color: orangered;
    border-radius: 30px;
}
.filler-box{
    border-radius: 10px;
    border: 1px solid transparent;
}
.filler-box:hover{
    border:1px solid blue;
}
.filler-subbox{
    height: 100%;
    overflow: hidden;
}
.play-img{
    width: 100%;
    border-radius: 10px;
}
.text-blue{
    color: rgb(68, 68, 248);
}
.console-title{
    padding-top: 200px;
}
.text-grey{
    color: rgb(172, 168, 168);
}
.ps5-buttoninfo{
    border-radius: 20px;
}
.ps5-img{
    width: 100%;
}